.dashboard {
    display: flex;
    justify-content: space-evenly;
  }

  .game-icons {
    cursor: pointer;
    &:hover {
      color: #621E50;
      a {
        color: #621E50;
      }
    }
  }

.game-icons {
  color: white;
}