.key {
    border: .4rem solid #621E50;
    border-radius: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem .5rem;
    transition: all 0.1s ease;
    width: 5rem;
    text-align: center;
    color: #621E50;
    background: #F9E1E4;
    }
    
    kbd {
    display: block;
    font-size: 4rem;
    }
    
    .playing {
    transform: scale(1.4);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
    }