.key {
    border: .3rem solid #621E50;
    border-radius: 1rem;
    margin: 0.5rem;
    font-size: 1.3em;
    font-weight: bold;
    padding: .5rem .5rem;
    transition: all 0.1s ease;
    /* max-width: 10em;
    min-width: 4em; */
    color: #621E50;
    background: #F9E1E4;
    cursor: pointer;
    }
    
    kbd {
    display: block;
    font-size: 1.3em;
    }
    
    .playing {
    transform: scale(1.8);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
    }