.key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 0.1s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
    }
    
    kbd {
    display: block;
    font-size: 4rem;
    }
    
    .playing {
    transform: scale(1.4);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
    }