.key {
    border: .4rem solid #621E50;
    border-radius: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem .5rem;
    transition: all 0.1s ease;
    width: 8rem;
    text-align: center;
    color: #621E50;
    background: #F9E1E4;
    }
    
    kbd {
    display: block;
    font-size: 4rem;
    }
    
    .playing {
    transform: scale(1.8);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
    }

    .score-prompt {
        transition: all 1s ease;
        position: absolute;
        &:hover {
            transform: scale(20) rotate(108deg) skew(46deg, 35deg);
        }
    }